header { 
    margin: 0;
}

.navber { 
    width: auto;
   height: auto;
    height: 56px; ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px ;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.logo img { 
    width: 139px;
    height: 60px;
}

.menu { 
    display: flex;
    gap: 32px;
    list-style:  none;
}

.menu li a {
    text-decoration: none;
    color: #000;
    font-size: medium;
    font-weight: 500;
    text-align: left;
}

.nav-btn a {
    text-decoration: none;
    font-size: semi bold;
    padding: 10px 18px;
    color: #FFFFFF;
    background-color: #469165;
   gap: 10px;
   border-radius: 4px;
}

.hero-wrapeer { 
    background-image: url(/assets/hero-bg.png);
    background-position-x: -221px;
    background-position-y: -39px;
    background-repeat: no-repeat;
    width: 2042px;
    height: 1363px;
}
 
.hero { 
    width: 1360px;
    height: 379px;
    margin: 0 auto;
    padding: 154.5px 341px 829.5px 341px;
}

.hero h1 { 
    width: 770px;
    height: 168px;
    font-style: bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #FFFFFF;
}

.hero h1 span{
    color: #30B868;
}
.hero p { 
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.hero-buttons {
    
    display: flex;
    gap: 32px;
    text-align: center;
}

.btn {
    padding: 16.5px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

.btn.primary {
    background-color: #30B868;
    color: #FFFFFF;
}
.btn.secondary {
    color: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
}
